{
  "socks5": "127.0.0.1:10810",
  "tun_name": "winchun0",
  "tun_addr": "10.0.85.2",
  "tun_gw": "10.0.85.1",
  "tun_mask": "255.255.255.0",
  "dns_refresh_seconds": 120,
  "tun2socks_path": "third_party/tun2socks-v3.exe",
  "upstream_ips": [],
  "domains": [
    "chatgpt.com",
    "*.chatgpt.com",
    "openai.com",
    "*.openai.com",
    "auth.openai.com",
    "*.youtube.com",
    "*.aka.ms",
    "*.visualstudio.com",
    "*.vscode.download.prss.microsoft.com",
    "*.vscode-cdn.net",
    "*.vsassets.io",
    "*.antigravity.com",
    "*.antigravity.google",
    "*.run.app",
    "*.googleapis.com",
    "*.play.googleapis.com",
    "*.ipinfo.io",
    "agent-marketplace.corp.google.com",
    "aka.ms",
    "antigravity-auto-updater-974169037036.us-central1.run.app",
    "antigravity-auto-updater-insider-974169037036.us-central1.run.app",
    "antigravity.google",
    "autopush-cloudcode-pa.sandbox.googleapis.com",
    "babeljs.io",
    "bit.ly",
    "chevrotain.io",
    "cloudcode-pa.googleapis.com",
    "code.visualstudio.com",
    "daily-cloudcode-pa.googleapis.com",
    "dl.google.com",
    "en.wikipedia.org",
    "engelschall.com",
    "feedback-pa.googleapis.com",
    "feross.org",
    "flyway.corp.google.com",
    "foo.com",
    "g3doc.corp.google.com",
    "github.com",
    "goto.google.com",
    "jedwatson.github.io",
    "jquery.org",
    "json-schema.org",
    "langium.org",
    "lexical.dev",
    "lodash.com",
    "main.vscode-cdn.net",
    "momentjs.com",
    "npms.io",
    "openjsf.org",
    "opensource.org",
    "play.googleapis.com",
    "policies.google.com",
    "raw.githubusercontent.com",
    "redux-toolkit.js.org",
    "redux.js.org",
    "tldrlegal.com",
    "underscorejs.org",
    "unpkg.com",
    "vscode.download.prss.microsoft.com",
    "www.google.com",
    "www.googleapis.com",
    "www.ibm.com",
    "www.w3.org"
  ]
}